<div class="card mb-2" style="Width: 15.9rem;">
    <img class="card-img-top" src="<%= article.image_url %>" alt="Invalid URL!">
    <div class="card-body">
    
      <h3 class="card-title">
        <%= article.title %>
      </h3>

      <h5 class="card-subtitle mb-2 text-muted">
        <%= article.topic %>
      </h5>

      <p class="card-text">
        <%= article.content[0, 80] %>
      </p>

      <%= link_to 'Read More', article, class: 'text-white btn btn-primary' %>
    </div>
</div>